<h1>Editing Fellow Ships Student</h1>

<%= render 'form', fellow_ships_student: @fellow_ships_student %>

<%= link_to 'Show', @fellow_ships_student %> |
<%= link_to 'Back', fellow_ships_students_path %>
