<p id="notice"><%= notice %></p>

<h1>Fellow Ships Students</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Cpf</th>
      <th>Bank</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fellow_ships_students.each do |fellow_ships_student| %>
      <tr>
        <td><%= fellow_ships_student.student %></td>
        <td><%= fellow_ships_student.cpf %></td>
        <td><%= fellow_ships_student.bank %></td>
        <td><%= fellow_ships_student.project %></td>
        <td><%= link_to 'Show', fellow_ships_student %></td>
        <td><%= link_to 'Edit', edit_fellow_ships_student_path(fellow_ships_student) %></td>
        <td><%= link_to 'Destroy', fellow_ships_student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fellow Ships Student', new_fellow_ships_student_path %>
