<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @fellow_ships_student.student %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @fellow_ships_student.cpf %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @fellow_ships_student.bank %>
</p>

<p>
  <strong>Project:</strong>
  <%= @fellow_ships_student.project %>
</p>

<%= link_to 'Edit', edit_fellow_ships_student_path(@fellow_ships_student) %> |
<%= link_to 'Back', fellow_ships_students_path %>
