<div class="page-header">
<p id="notice"><%= notice %></p>
<h1>Bancos</h1>
     </div>
     <div class="row">

<table class='table'>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @banks.each do |bank| %>
      <tr>
        <td><%= bank.code %></td>
        <td><%= bank.name %></td>
        <td><%= link_to 'Show', bank %></td>
        <td><%= link_to 'Edit', edit_bank_path(bank) %></td>
        <td><%= link_to 'Destroy', bank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<div class="page-footer">

<%= link_to 'New Bank', new_bank_path %>
</div>
