<h1>Editing Fellow Ships Employee</h1>

<%= render 'form', fellow_ships_employee: @fellow_ships_employee %>

<%= link_to 'Show', @fellow_ships_employee %> |
<%= link_to 'Back', fellow_ships_employees_path %>
