<p id="notice"><%= notice %></p>

<h1>Fellow Ships Employees</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Cpf</th>
      <th>Bank</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fellow_ships_employees.each do |fellow_ships_employee| %>
      <tr>
        <td><%= fellow_ships_employee.employee %></td>
        <td><%= fellow_ships_employee.cpf %></td>
        <td><%= fellow_ships_employee.bank %></td>
        <td><%= fellow_ships_employee.project %></td>
        <td><%= link_to 'Show', fellow_ships_employee %></td>
        <td><%= link_to 'Edit', edit_fellow_ships_employee_path(fellow_ships_employee) %></td>
        <td><%= link_to 'Destroy', fellow_ships_employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fellow Ships Employee', new_fellow_ships_employee_path %>
