<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @fellow_ships_employee.employee %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @fellow_ships_employee.cpf %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @fellow_ships_employee.bank %>
</p>

<p>
  <strong>Project:</strong>
  <%= @fellow_ships_employee.project %>
</p>

<%= link_to 'Edit', edit_fellow_ships_employee_path(@fellow_ships_employee) %> |
<%= link_to 'Back', fellow_ships_employees_path %>
