<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :start %>
    <%= f.input :end %>
    <%= f.association :employee %>
    <%= f.association :edital %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
