<%= simple_form_for(@payment_project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :project %>
    <%= f.association :employee %>
    <%= f.input :process %>
    <%= f.input :date_payment %>
    <%= f.input :date_start %>
    <%= f.input :date_end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
