<p id="notice"><%= notice %></p>

<h1>Payment Projects</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Employee</th>
      <th>Process</th>
      <th>Date payment</th>
      <th>Date start</th>
      <th>Date end</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payment_projects.each do |payment_project| %>
      <tr>
        <td><%= payment_project.project %></td>
        <td><%= payment_project.employee %></td>
        <td><%= payment_project.process %></td>
        <td><%= payment_project.date_payment %></td>
        <td><%= payment_project.date_start %></td>
        <td><%= payment_project.date_end %></td>
        <td><%= link_to 'Show', payment_project %></td>
        <td><%= link_to 'Edit', edit_payment_project_path(payment_project) %></td>
        <td><%= link_to 'Destroy', payment_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment Project', new_payment_project_path %>
