<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @payment_project.project %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @payment_project.employee %>
</p>

<p>
  <strong>Process:</strong>
  <%= @payment_project.process %>
</p>

<p>
  <strong>Date payment:</strong>
  <%= @payment_project.date_payment %>
</p>

<p>
  <strong>Date start:</strong>
  <%= @payment_project.date_start %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @payment_project.date_end %>
</p>

<%= link_to 'Edit', edit_payment_project_path(@payment_project) %> |
<%= link_to 'Back', payment_projects_path %>
