@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.navbar-default{
  background-color: #228b22;
}

.active{
  background-color: #228b22;
}

.navbar-default .navbar-brand{
    color: #000;
}
.navbar-default .navbar-brand:hover{
    color: #F10;
}

.navbar-default .navbar-nav li a{
    color: #000;
}
.navbar-default .navbar-nav li a:hover{
    color: #F00;
}
