<!DOCTYPE html>
<html>
  <head>
    <title>Copeinca</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Fixed navbar -->
   <nav class="navbar navbar-default navbar-fixed-top">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#">COPEIN/CA</a>
       </div>
       <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
           <li> <%= link_to t(Employee.model_name.human.pluralize), employees_path %></li>
           <li><%= link_to t(Bank.model_name.human.pluralize), banks_path %></li>
           <li><%= link_to t(Project.model_name.human.pluralize), projects_path %></li>
           <li><%= link_to t(Edital.model_name.human.pluralize), editals_path %></li>

           <li><a href="#contact">Alunos</a></li>
           <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projetos <span class="caret"></span></a>
             <ul class="dropdown-menu">
               <li><a href="#">Listar</a></li>
               <li><a href="#">Indicar Bolsista</a></li>
               <li><a href="#">Despachos</a></li>

             </ul>
           </li>
           <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administração <span class="caret"></span></a>
             <ul class="dropdown-menu">
               <li><a href="#">Usuários</a></li>
               <li><a href="#">Perfis</a></li>


             </ul>
           </li>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>
   <div class="container theme-showcase" role="main">

    <%= yield %>

  </div>
  </body>
</html>
